body {
    margin: 0;
    padding: 0;
    background: url(../assets/images/40percent.jpg);
    line-height: 1.4em;
    font-family: Lato, Segoe UI, Arial, sans-serif;
}

div.schedule_container {
    align-self: center;
  max-width: 70vw;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
    margin: 10vh auto auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  max-height: 750px;
  min-height: 60vh;
}

.schedule_container > h1 {
  margin: 0;
}

.schedule_container .table_container {
  margin-top: 25px;
    min-width: 662px;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(251,251,252,1.0);
  height: 100px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div#nav img {
  height: 110%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  font-weight: 600;
}

li > a {
    color: #303030; /* color of the link in the nav bar */
    padding: 4px 12px 8px; /* top, r/l, bottom */
    border-radius: 12px;
}
li > a:hover {
    background-color: #DDD;
}

a, p, center, label, td {
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}

/* Style for the popup container */
.popup-container {
    display: none;
    /*position: center;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251,251,252,1.0);
    justify-content: center;
    align-items: center;
}


/* Style for the popup */
.popup {
    min-width: 662px;
    /*max-width: 1200px;*/
    padding: 20px;
    background-color: rgba(251,251,252,1.0);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.popup .fields,header {
    font-size: 30px;
    text-align: center;
    padding: inherit;
}

/* table is used when returning list of
therapists with their certifications, and
lists of appointments
 */
table {
    font-size: 18px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th, td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 12px;
}
th {
    text-align: center;
    font-weight: bold;
    background-color: #afeeee; /*light turquoise - use for table headers and normal state buttons */
}

.truncate {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


.sortless th, .sortless th:hover { /* not currently having any effect on UX */
    color: black;
    text-decoration: none;
    cursor: auto;
}

/* change cursor and text style on hover */
.sortable th{
    cursor: pointer;
    transition: color 0.3s ease;
}

.sortable th:hover {
    color: #007bff; /* color change on sortable th hover */
    text-decoration: underline;
}

td {
    text-align: left;
}
td:nth-last-child(1) {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #303030;   /*menu selector color. it is the same as the grey of the login link*/

  position: absolute;
  height: 4px;    /*thickness of the menu selector lines*/
 
  width: 30px;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255,255,255,0);                  
}      /*makes the third line invisible with that transparency at the end!*/


#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}



@media screen and (max-width: 750px) { /*UNDER 750px*/
  .menu-button-container {
    display: flex;
  }
  .logo {
  display: inline-block;
  
}
  .menu {
    position: absolute;
    top: 0;
    margin-top: 110px;/*top of dropdown menu*/
    right: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
#menu-toggle ~ .menu li a { /*dropdown text when it's toggled off*/
  color: transparent;
}

#menu-toggle:checked ~ .menu li a {/*dropdown text when toggled on*/
    color: #303030; /* color of the link in the nav bar */
}


#menu-toggle:checked ~ .menu li {
/* border: 1px solid white;  lines between dropdown menu selections */
height: 2em;
padding: 0.5em;
transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li { /*the individual "boxes" of each list item*/
display: flex;
justify-content: center;
margin: 1px;
padding: 0.5em 0;
width: 100%;
color: rgb(255, 87, 51);/*text color of menu list items when screen is small*/
font-weight: bold;
background-color: rgb(251,251,252) ;/* drop-down color; */
}
.menu > li:first-child { /*secret top cell*/
background-color: transparent; /*background color of secret top cell*/
max-height: 10px;
}
.menu > li:not(:last-child) {
border-bottom: 1px solid #444;
}
}
/*end of max 750 query*/


div#calendar{
  margin:0 auto;
    padding: 0;
    width: 602px;
}
 
div#calendar div.box{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background: linear-gradient(#545454, #373738);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
 
div#calendar div.header{
    line-height:50px;
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0;
    width:582px;
    /*height:40px;   */
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0;
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:24px;
}
 
div#calendar div.header a.prev{
    left:0;
}
 
div#calendar div.header a.next{
    right:0;
}
 
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
 
 
div#calendar ul.label{
    float:left;
    padding: 0;
    margin: 5px 0 0 5px;
}
 
div#calendar ul.label li{
    padding:0;
    margin: 0 5px 0 0;
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 16px;
    background-color: transparent;
}
 
div#calendar ul.dates{
    float:left;
    padding: 0;
    margin: 0 0 5px 5px;
}
 
div#calendar ul.dates li{
    padding:0;
    margin: 5px 5px 0 0;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center;
    border-color:#275a90;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

div#calendar ul.dates li:hover{
    /*background-color: #275a90;*/
    color: #303030;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, rgb(82, 181, 194), #81b6e4);
}

 
div.clear{
    clear:both;
}

section.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

div.mainContainer {
    align-self: center;
    min-width: 662px;
    max-width: 1310px;
    background-color: rgba(251,251,252,1.0);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

div.mainContainer.appointments {
    min-width: 70vw;
}

div.mainContainer header {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

div.mainContainer header::before {
    content: "";
    position: absolute;
    width: 315px;
    height: 3px;
    background: transparent;
    bottom: -10px;

}

div.mainContainer form {
    margin-top: 16px;
    position: relative;
}

.details {
    text-align: center;
}

span {
    margin-bottom: 5px;
    padding: 1px;
}

div.mainContainer form > div.details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid #ccc !important;
    padding: 16px 0.01em;
    border-radius: 12px;
}

div.mainContainer label {
    text-align: left;
    margin: 2px;
    padding-bottom: 2px;
}

div.details span.title, .title {
    color: black;
    font-size: 24px;
    font-weight: 350;
    margin-bottom: 15px;
}

.mainContainer form .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#first-last, #email-phone, #date-time, #type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:95%;
    margin-bottom: 20px;
}
#first-last>* , #email-phone>*, #date-time>* {
    width: 49%;
}

#intake-notes, #date-time-type {
    width: 95%;
    padding: 10px;
}

#date-time-type {
    padding-left: 25px;
}

#time, #date {
    width: 200px;
}

form .fields div.sidebyside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form .fields input, form .fields select, form .fields textarea, select {
    min-width:100px;
    max-width: 100%;
    font-size: large;
    padding: 0.5em;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 50px;
}

form .fields textarea {
    padding-top: 9px;
    overflow: auto;
    resize: vertical;
}

#intakeNotes {
    height: 100px;
    width: auto;
    padding: 10px;
}

form .fields div.sidebyside > div:last-child {
    width: calc(66%)
}

form .input-field, #type {
    display: flex;
    flex-direction: column;
}

#type {
    justify-content: center;
}

#search-therapist-list-input {
    display: flex;
    width: 85%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

form.input-field#therapistDropdown, form.input-field#certificationDropdown {
    width: 400px;
}

.last-minute {
    display: flex;
    justify-content: center;
}

div.therapistContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    margin: 10px 0;
    width: 100%;
    min-height: 126px;
}

div.therapist.selected {
    background: linear-gradient(180deg, #275a90, #81b6e4);
    border-color: #ffffff;
}

div.therapist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #275a90, #3a86c7);
    padding: 5px 10px;
    margin: 5px;
    border: 3px solid rgb(72, 116, 173);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(240, 240, 240);
    transition: all 0.25s;
    user-select: none;
    min-width: 100px;
    max-width: calc(100% / 5 - 15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 110px;
}

div.therapist:hover {
    background: linear-gradient(180deg, #275a90, #81b6e4);
}

div.therapist > * {
    margin: 0;
}

div.therapist>h2 { /* therapist name inside blue container */
    text-align: center;
    font-size: large;
    font-weight: 500;
}

div.therapist>i {
    font-size: 2.4em;
}

i.fa-solid.fa-user.fa-2xl { /* placeholder image of therapist face */
    line-height: 1.2em; /* pushes image down from top of container */
}

.formButtons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    align-items: center;
}

.formButtons input {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    background-size: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    line-height: 25px;
    min-width: 170px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-family: Lato, Segoe UI, Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    background-color: #afeeee; /*light turquoise - use for table headers and form buttons */
    color: #303030;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.smallerButtons {
    box-sizing: border-box;
    line-height: 25px;
    width: 90px;
    margin: 10px;
    height: 30px;
    font-family: Lato, Segoe UI, Arial, sans-serif;
    text-align: center;
    background-color: #afeeee;
    color: #303030;
    border-radius: 15px;
}
.smallerButtons:hover {
    background: linear-gradient(0deg, #afeeee, #81b6e4);
}

.smallerButtonsRed {
    box-sizing: border-box;
    line-height: 25px;
    width: 90px;
    margin: 10px;
    height: 30px;
    font-family: Lato, Segoe UI, Arial, sans-serif;
    text-align: center;
    background: red;
    color: white;
    border-radius: 15px;
}
.smallerButtonsRed:hover {
    background: linear-gradient(0deg, red, crimson);
}


#therapistContainer > #selectTherapyType {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 10px;
    width: 60%;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    color: rgb(44, 44, 44);
    min-width: 300px;
    user-select: none;
}

#therapistContainer > #selectTherapyType p {
    margin: 0;
    text-align: center;
   font-size: 15px;
     max-height: 100%; 
    overflow:visible;
    vertical-align: middle;
     padding: 0; 
}

#login-form {
    display: flex;
    flex-flow: column;
    margin-left: 100px;
    padding-top: 10px;
}

#login-form > input {
    display: flex;
    align-content: center;
    height: 40px;
    width: 85%;
    margin: 10px 0;
}

.formButtons input:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(0deg, #d3d3d3, darkgrey);
    border-top-color: darkgrey;
    border-left-color: darkgrey;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.1em);
}

.formButtons input.redBtn {
    background: linear-gradient(0deg, #AD5D4E, #ec9687);
}

.formButtons input.redBtn:hover {
    background: linear-gradient(0deg, darkred, #AD5D4E);
    color: white;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}

.highlight-on-hover:hover {
    background-color: #ec9687;
}